# init
wheel
pip>=19
setuptools>=41
# lint
pylint
# test
pytest
# type
mypy
# sort
isort
# debug
ipdb
# cover
coverage
# unused
vulture
# format
black
# secure
bandit
# execute
invoke
# interact
ipython
# publish
twine
# document
pdoc
